{
    font-family: "Pangolin", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-size: cover;
    width: 100%;
    background: linear-gradient(180deg, #000000,#212121,#4f4f4f) no-repeat center center fixed;
}

.form:hover{
    background-color: black;
}
.form{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.top_block{
    width: 100vw;
    height: 50px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: row-reverse;

}
.back{
    position: relative;

}
.butBack{
    margin-left: 10px;
    color: #1e1f22;
    background-color: #d0c3ac;
    border: 1px solid  #1e1f22;
    border-radius: 5px;
    font-family: "Pangolin", serif;
    font-weight: 400;
    font-style: normal;
    height: 30px;
    width: 150px;
    transition-duration: 0.4s;
}
.butBack:hover{
    background-color: #1e1f22;
    color: #667ec0;
    transition-duration: 0.4s;
}

.pagination{
    color: white;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;

    padding-right: 10px;
}

.submitButton{
    margin-left: 10px;
    color: #1e1f22;
    background-color: #d0c3ac;
    border: 1px solid  #1e1f22;
    border-radius: 5px;
    transition-duration: 0.1s;
    height: 25px;
    width: 25px;
}

.submitButtonClick{
    margin-left: 10px;
    color: #667ec0;
    background-color: #1e1f22;
    border: 1px solid  #1e1f22;
    border-radius: 5px;
    transition-duration: 0.1s;
    height: 25px;
    width: 25px;
}

.submitButton:hover{
    background-color: #1e1f22;
    color: #667ec0;
    transition-duration: 0.1s;
}

.mainPage{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product{
    height: 300px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #d0c3ac;
    /*background: rgba(255, 255, 255, 0.1);*/
    /*backdrop-filter: blur(10px);*/
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);*/
}
img{
    position: absolute;
    /*background-color: #1e1f22;*/
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    width: 180px;
    height: 180px;
}
.photo{
    position: absolute;
    margin-top: 8px;
    box-sizing: border-box;
    background-color: #1e1f22;

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    font-size: 14px;
    width: 180px;
    height: 180px;
}
p{
    font-family: "Pangolin", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagText{
    width: unset;
    position: absolute;
}

.card{
    display: flex;
    width: 180px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.description{
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    flex-direction: column;
}
.translucent{
    position: absolute;
    opacity: 0.5;
    margin-top: 155px;
    width: 180px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 25px;
    background-color: #99b3c6;
}
.infoBut{
    position: relative;
    margin-top: 60px;
    font-size: 14px;
    padding: 3px;
    background-color: #d0c3ac;
    color: #1e1f22;
    border: 1px solid  #1e1f22;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.infoBut:hover{
    background-color: #1e1f22;
    color: #667ec0;
    transition-duration: 0.5s;
}

.cardButtons{
    position: relative;
    width: 180px;

    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    flex-direction: column;

}


.infoButAdmin{
    font-size: 13px;
    padding: 3px;
    background-color: #d0c3ac;
    color: #1e1f22;
    border: 1px solid  #1e1f22;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.infoButAdmin:hover{
    background-color: #1e1f22;
    color: #667ec0;
    transition-duration: 0.4s;
}

.plusMinus{

    display: flex;
    width: 180px;
    height: 20px;
}

.plus{
    color: #1e1f22;
    background-color: #d0c3ac;
    border: 1px solid  #1e1f22;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transition-duration: 0.4s;
    height: 20px;
    width: 90px;
    font-size: 15px;
}

.minus{
    color: #1e1f22;
    font-size: 15px;
    background-color: #d0c3ac;
    border: 1px solid  #1e1f22;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: none;
    transition-duration: 0.4s;
    height: 20px;
    width: 90px;
}

.minus:hover{
    background-color: #1e1f22;
    color: #667ec0;
    transition-duration: 0.4s;
}

.plus:hover{
    background-color: #1e1f22;
    color: #667ec0;
    transition-duration: 0.4s;
}

.ord{
    margin-top: 5px;
    color: #1e1f22;
    font-size: 14px;
    background-color: #d0c3ac;
    border: 1px solid  #1e1f22;
    border-radius: 5px;

    transition-duration: 0.4s;
    height: 20px;
    width: 180px;
}

.ord:hover{
    background-color: #1e1f22;
    color: #667ec0;
    transition-duration: 0.4s;
}