<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список товаров</title>
</head>
<body>
<div style="display: flex; justify-content: space-between;">
  <form  style="margin-bottom: 10px" name="myForm" action="/products1">
    <input type="text" th:value="${tex}" placeholder="Введите название категории..." name="filter" style="width: 300px">
    <input type="submit" value="Отфильтровать">
  </form>

  <form style="margin-bottom: 10px" action="/products1/order">
    <input type="submit" value="Мои заказы">
  </form>
  <form style="margin-bottom: 10px" action="/products1/basket">
    <input type="submit" value="Моя корзина">
  </form>
</div>


<th:block th:each="product : ${products}" >
  <div style="display: flex; align-items: center; border: 1px solid black; padding: 3px; margin-bottom: 4px">
    <div style="margin-right: 10px" >
      <p>Категория: <b th:text="${product.getCategory().getName()}"></b></p>
      <p>Название: <b th:text="${product.getName()}"></b></p>
      <p>Стоимость: <b th:text="${product.getPrice()}"></b></p>
    </div>
    <form style="margin-right: 100px;width: 50px; height: 21px; " name="myForm" action="/products1/remake">
      <input type="hidden" name="param" th:value="${product.getId()}">
      <input type="submit" value="Отредактировать">
    </form>
    <form style="margin-right: 100px;width: 50px; height: 21px;" name="info" action="/products1/info">
      <input type="hidden" name="prod_id" th:value="${product.getId()}">
      <input type="submit" value="Информация о товаре">
    </form>
  </div>
</th:block>

</body>
</html>