<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отзыв</title>
</head>
<body>
<div >
    Отзыв:
    <form style="width: 200px; margin-bottom: 2px" th:object="${review}" method="post" action="/products1/rev">
        <input type="hidden" th:value="${review.user.id}" th:field="*{user.id}" >
        <input style="margin-bottom: 4px" type="number" th:field="*{rate}" placeholder="Введите оценку">
        <input style="margin-bottom: 4px" type="text" th:field="*{text}" placeholder="Введите текст отзыва">
        <input type="hidden" th:value="${review.getProduct().id}" th:field="*{product.id}">
        <input type="submit" value="Отправить отзыв">

    </form>
    <form action="/products1">
        <input type="submit" value="Вернуться на главную">
    </form>
</div>
</body>
</html>