<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
    <th:block th:each="prod : ${basket}">
        <div style="display: flex; align-items: center; border: 1px solid #000000; padding: 3px; margin-bottom: 4px">
            <div style="margin-right: 10px" >
                <p>Категория: <b th:text="${prod.getProduct().getCategory().getName()}"></b></p>
                <p>Название: <b th:text="${prod.getProduct().getName()}"></b></p>
                <p>Стоимость: <b th:text="${prod.getProduct().getPrice()}"></b></p>
            </div>

            <p>Количество товара: <b th:text="${prod.getCount()}"></b></p>

            <div style="margin-left:20px; display: flex; width: 50px; justify-content: space-between">
                <form method="post" style="width: 15px; height: 15px;" action="/basket">
                    <input type="hidden" name="tov_id" th:value="${prod.getProduct().getId()}">
                    <input type="hidden" name="operation" th:value="${'+'}">
                    <input type="hidden" name="if_bas" th:value="${true}">
                    <input type="submit" value="+">
                </form>
                <form method="post" style="width: 15px; height: 15px;" action="/basket">
                    <input type="hidden" name="tov_id" th:value="${prod.getProduct().getId()}">
                    <input type="hidden" name="operation" th:value="${'-'}">
                    <input type="hidden" name="if_bas" th:value="${true}">
                    <input type="submit" value="-">
                </form>
            </div>


            <form style="margin-left: 100px;margin-right: 100px;width: 50px; height: 21px;" name="info" action="/info">
                <input type="hidden" name="prod_id" th:value="${prod.getProduct().getId()}">
                <input type="submit" value="Информация о товаре">
            </form>

            <form method="post" style="margin-left: 100px;margin-right: 100px;width: 50px; height: 21px;" name="bs" action="/order">
                <input type="hidden" name="tov_id" th:value="${prod.getProduct().getId()}" >
                <input type="hidden" name="count" th:value="${prod.getCount()}" >
                <input type="submit" value="Заказать">
            </form>
        </div>
    </th:block>
    <form action="/products">
        <input type="submit" value="Вернуться на главную">
        <input type="hidden" name="page" th:value="${1}">
    </form>
</body>
</html>