<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
    <th:block th:each="prod : ${basket}">
        <div style="display: flex; align-items: center; border: 1px solid black; padding: 3px; margin-bottom: 4px">
            <div style="margin-right: 10px" >
                <p>Категория: <b th:text="${prod.getProduct().getCategory().getName()}"></b></p>
                <p>Название: <b th:text="${prod.getProduct().getName()}"></b></p>
                <p>Стоимость: <b th:text="${prod.getProduct().getPrice()}"></b></p>
            </div>

            <p>Количество товара: <b th:text="${prod.getCount()}"></b></p>

            <form style="margin-left: 100px;margin-right: 100px;width: 50px; height: 21px;" name="info" action="/products1/info">
                <input type="hidden" name="prod_id" th:value="${prod.getProduct().getId()}">
                <input type="submit" value="Информация о товаре">
            </form>

            <form method="post" style="margin-left: 100px;margin-right: 100px;width: 50px; height: 21px;" name="bs" action="/products1/order">
                <input type="hidden" name="tov_id" th:value="${prod.getProduct().getId()}" >
                <input type="hidden" name="count" th:value="${prod.getCount()}" >
                <input type="submit" value="Заказать">
            </form>
        </div>
    </th:block>
    <form action="/products1">
        <input type="submit" value="Вернуться на главную">
    </form>
</body>
</html>