<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара</title>
    <link rel="stylesheet"  th:href="@{/style/styleForDataHt3.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Pangolin&family=Russo+One&display=swap" rel="stylesheet">

</head>
<body>




<div class="addCard">
    <div class="adding">
        <h1>Редактировать товар</h1>
        <form th:object="${product}" method="post" class="formCard" action="/remake">
            <div class="fields">
                <p>Выберите категорию:</p>
                <select th:field="*{category.id}" required>
                    <option th:each="i : ${catChoose}"
                            th:value="${i.id}"
                            th:text="${i.name}"
                            th:selected="${i.id == product.getCategory()?.getId()}">
                    </option>
                </select>
            </div>
            <div class="fields">
                <p>Наименование товара:</p>
                <input type="text" th:value="${product.getName()}" th:field="*{name}" />
            </div>
            <div class="fields">
                <p>Цена товара:</p>
                <input type="number" th:value="${product.getPrice()}" th:field="*{price}"/>
                <input type="hidden" th:value="${product.getId()}" th:field="*{id}"/>

            </div>

            <input type="submit" class="addProd" value="Изменить товар" />
        </form>

    </div>


</div>
<form action="/products">
    <input type="submit" class="back" value="Вернуться на главную">
    <input type="hidden" name="page" th:value="${1}">
</form>
</body>
</html>