<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
</head>
<body>

<th:block th:each="product : ${products}" >
    <div style="border: 2px solid black; width: 400px; height: 400px; display: flex; margin-bottom: 20px; margin-left: 20px;">
        <p style="align-content: center; margin: 0 auto">Название: <b th:text="${product.getName()}"></b></p>
        <p style="align-content: center; margin: 0 auto">Стоимость: <b th:text="${product.getCost()}"></b></p>
    </div>
</th:block>

<form name="myForm" action="/shop">
<th:block th:each="bu : ${but}" >

        <button type="submit" th:value="${bu}" name="page" ><b th:text="${bu}"></b></button>


</th:block>
</form>
</body>
</html>